#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        macro_layer {
            bindings = <
&kp A  &kp B  &kp C
&kp D  &kp E  &mo 1
            >;
        };

        bt_layer {
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2
       &mo 2    &bt BT_CLR        &trans
            >;
        };

        system_layer {
            bindings = <
&sys_reset  &bootloader  &sys_reset
    &trans  &bootloader      &trans
            >;
        };
    };
};
