if SHIELD_DEBUGTEST

  config ZMK_KEYBOARD_NAME
    default "DebugPad"

  config BT
    default y

  config BT_MAX_CONN
    default 3

  config BT_MAX_PAIRED
    default 3

  config BT_CTLR
    default BT

  config ZMK_BLE
    default y

  config ZMK_USB
    default y

  config ZMK_SLEEP
    default y

endif